RewriteEngine On
RewriteCond %{REQUEST_URI} !\.(?:css|js|json|jpe?g|gif|png|woff2)$ [NC]
RewriteRule ^([^/]+)/? index.php?url=$1 [L,QSA]
RewriteCond %{LA-U:REQUEST_FILENAME} !-f
RewriteCond %{LA-U:REQUEST_FILENAME} !-d